$bg-lt-cream: #FEFCF7;
$main-font: 'Barlow', sans-serif;
$heading-font: 'Fraunces', serif;
$tx-black: #333D4B;
$tx-lt-grey: #83888F;
$bg-lt-grey: #83888F;
$bg-green-btn: #0E8784;
$tx-green: #0E8784;
$bg-dark-grey: #2C343E;
$tx-white: #FFFFFF;
$bg-black: #333D4B;
