@use '../base';

.hide__scroll {
  //  overflow: hidden;
   // pointer-events: none;
   // opacity: 0.6;
}
.overlay {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  user-select: none;
}

.hide__overlay {
  display: none;
}