@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Fraunces:wght@300;400;500;600;700;800;900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  line-height: 32px;
}

h1, h2, h3, h4, h5 {
  font-family: "Fraunces", serif;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
}

.logo__wrapper {
  flex: 1 1 70%;
}

.menu__control {
  position: relative;
  flex: 1 1 30%;
  display: flex;
  justify-content: flex-end;
}

.hamburger {
  display: block;
  min-height: 100%;
}

.close__menu {
  min-height: 100%;
  position: absolute;
  display: none;
  top: 0;
  right: 0;
}

.toggle__btn__close {
  display: none;
}

.toggle__btn__open {
  display: block;
  position: relative;
  background-color: inherit;
  border: none;
}

@media screen and (min-width: 720px) {
  .nav {
    padding: 0.5rem 2.5rem;
  }

  .nav__item {
    padding: 0 1rem;
  }
}
.modal {
  display: none;
  position: absolute;
  left: 0;
  top: 90px;
  width: 100%;
  background-color: #FEFCF7;
}

.modal__open {
  display: block;
  box-shadow: 0px 0px 90px 130px #FEFCF7;
}

.nav__list {
  text-align: center;
  padding: 0;
}

.nav__item--btn {
  text-decoration: none;
  color: #333D4B;
}

.nav__item {
  list-style: none;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 1rem;
}

@media screen and (min-width: 720px) {
  .modal {
    display: block;
    position: relative;
    top: 0;
  }

  .modal__open {
    box-shadow: 0px 0px 0px 0px #FEFCF7;
  }

  .nav__list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .nav__item--btn {
    font-size: 0.75rem;
    color: #83888F;
    letter-spacing: 0.92px;
    line-height: 15px;
  }

  .menu__control {
    display: none;
  }
}
.hero {
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0 1.5rem;
  border-radius: 10px;
}

.hero__home {
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
}

.hero__about {
  background-image: url("../assets/about/mobile/image-hero-whitecup.jpg");
}

.hero__subscribe {
  background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg");
}

.hero__content {
  padding: 6rem 1.5rem;
  text-align: center;
}

.hero__title {
  font-size: 2.5rem;
  text-align: center;
  line-height: 40px;
}

.hero__summary {
  font-size: 0.9375rem;
  text-align: center;
  line-height: 25px;
  margin: 1.5rem auto 3rem;
}

.hero--btn {
  background-color: #0E8784;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 900;
  color: white;
  line-height: 25px;
  padding: 1rem 2.6rem;
  border-radius: 6px;
}

@media screen and (min-width: 720px) {
  .hero {
    margin: 0px 2.5rem;
  }

  .hero__content {
    max-width: 25rem;
    text-align: left;
  }

  .hero__title {
    font-size: 3rem;
    text-align: left;
    line-height: 48px;
  }

  .hero__summary {
    text-align: left;
  }

  .hero__home {
    background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
  }

  .hero__about {
    background-image: url("../assets/about/tablet/image-hero-whitecup.jpg");
  }

  .hero__subscribe {
    background-image: url("../assets/plan/tablet/image-hero-blackcup.jpg");
  }
}
@media screen and (min-width: 1080px) {
  .hero {
    margin: 0 5rem;
  }

  .hero__content {
    padding: 7rem 0 7rem 4rem;
    max-width: 35rem;
  }

  .hero__title {
    font-size: 4.5rem;
    line-height: 72px;
  }

  .hero__summary {
    margin: 2.5rem 5rem 4rem auto;
  }

  .hero__home {
    background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg");
  }

  .hero__about {
    background-image: url("../assets/about/desktop/image-hero-whitecup.jpg");
  }

  .hero__subscribe {
    background-image: url("../assets/plan/desktop/image-hero-blackcup.jpg");
  }
}
.collection {
  padding: 7rem 1.5rem 3rem;
  text-align: center;
}

.collection__title {
  font-size: 2.5rem;
  font-weight: 900;
  color: #83888f;
  line-height: 72px;
  opacity: 0.4;
  padding-bottom: 1.5rem;
}

.collection__list {
  padding: 0;
  margin: auto;
}

.collection__item {
  list-style: none;
  padding-bottom: 4rem;
}

.collection__img {
  max-width: 200px;
  margin: auto;
}

.collection__details {
  max-width: 282px;
  margin: auto;
}

.collection__subtitle {
  font-size: 1.5rem;
  line-height: 32px;
  color: #333D4B;
  padding-top: 0.5rem;
}

.collection__summary {
  padding-top: 1rem;
}

@media screen and (min-width: 720px) {
  .collection {
    padding: 6.5rem 1.5rem 7rem;
  }

  .collection__title {
    position: relative;
    font-size: 6rem;
    top: 2rem;
    z-index: 1;
  }

  .collection__item {
    display: flex;
  }

  .collection__list {
    max-width: 573px;
    z-index: 2;
    position: relative;
  }

  .collection__summary {
    text-align: left;
  }

  .collection__subtitle {
    text-align: left;
  }
}
@media screen and (min-width: 1080px) {
  .collection {
    padding: 10rem 1.5rem 9.5rem;
  }

  .collection__title {
    font-size: 9.375rem;
    line-height: 72px;
  }

  .collection__item {
    flex-direction: column;
  }

  .collection__list {
    max-width: 1111px;
    display: flex;
    gap: 1.5rem;
  }

  .collection__subtitle {
    text-align: center;
  }

  .collection__summary {
    text-align: center;
  }

  .collection__details {
    max-width: 255px;
    margin-top: 6rem;
  }
}
.cards__list {
  position: relative;
  top: -40rem;
}

.cards {
  padding: 1rem 0;
}

.card {
  margin: auto;
  padding: 1rem 2.5rem;
  max-width: 573px;
  list-style: none;
}

.card__wrapper {
  background-color: #0E8784;
  border-radius: 8px;
  list-style: none;
}

.card__img {
  margin: auto;
  padding: 4.5rem 0 3rem;
}

.card__title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: white;
}

.card__summary {
  text-align: center;
  font-size: 0.9375rem;
  line-height: 25px;
  padding-bottom: 3.5rem;
  color: white;
}

.card__details {
  padding: 0 2rem;
}

@media screen and (min-width: 720px) {
  .card__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.2rem 0;
  }

  .card {
    padding: 0.9rem 1rem 0.5rem;
  }

  .card__img__wrapper {
    flex: 1 1 25%;
  }

  .card__img {
    padding: 0;
  }

  .card__details {
    flex: 1 1 75%;
  }

  .card__summary,
.card__title {
    text-align: left;
  }

  .card__summary {
    padding: 0;
  }

  .cards__list {
    top: -22rem;
  }
}
@media screen and (min-width: 1080px) {
  .card__wrapper {
    flex-direction: column;
    padding: 3.8rem 0;
  }

  .card__img__wrapper {
    flex: auto;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards {
    display: flex;
    max-width: 1110px;
    margin: auto;
  }

  .card__details {
    padding: 2rem 4rem 0;
  }

  .card {
    max-width: 350px;
    padding: 0;
  }

  .card__summary,
.card__title {
    text-align: center;
  }

  .cards__list {
    top: -15rem;
  }
}
.works__wrapper {
  margin-top: 5rem;
}

.works {
  margin-top: -35rem;
}

.work__list {
  padding: 0 0.2rem;
}

.work__summary {
  font-size: 0.9375rem;
}

.works__title {
  text-align: center;
  color: #83888F;
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 800;
}

.work__item {
  list-style: none;
  padding: 0 1rem;
  text-align: center;
  margin-bottom: 3.5rem;
}

.work__item__title {
  color: #2C343E;
  font-size: 1.75rem;
  line-height: 32px;
  margin-bottom: 1.5rem;
}

.work__num {
  font-size: 4.5rem;
  font-weight: 900;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 72px;
  color: #FDD6BA;
  font-family: "Fraunces", serif;
  margin-bottom: 2rem;
}

.works__wrapper--btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 720px) {
  .works {
    margin-top: -19rem;
  }

  .work__list {
    display: flex;
  }

  .works__wrapper {
    padding: 0 2.5rem;
    margin-top: 6rem;
  }

  .works__wrapper--btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .work__item {
    padding: 1rem;
    flex: 1 1 0;
  }

  .work__num,
.work__item__title,
.work__summary {
    text-align: left;
  }

  .work__num {
    position: relative;
  }
  .work__num::before {
    position: absolute;
    width: 31px;
    height: 31px;
    content: "";
    border: 2px solid #0E8784;
    top: -4rem;
    border-radius: 50%;
    left: 0;
  }

  .span21::after,
.span22::after {
    position: absolute;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #FDD6BA;
    top: -3rem;
    left: 27px;
  }

  .works__title {
    padding: 0 4rem;
    text-align: left;
  }
}
@media screen and (min-width: 1080px) {
  .works {
    margin-top: -4rem;
  }

  .work__list {
    gap: 1.5rem;
  }

  .works__title {
    padding: 0 10rem;
  }

  .works__wrapper {
    padding: 0;
    max-width: 1045px;
    margin: 6rem auto 0;
  }

  .work__item {
    padding: 1rem 0;
  }

  .span21::after,
.span22::after {
    width: 100%;
  }
}
.footer__wrapper {
  margin-top: 7.5rem;
  padding: 1.5rem;
}

.footer {
  background-color: #2C343E;
}
.footer .logo__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.footer .nav__item--btn {
  font-size: 0.75rem;
  color: #83888F;
  text-transform: uppercase;
}
.footer .nav__list {
  max-width: 283px;
  margin: 1.5rem auto;
  justify-content: space-between;
}
.footer .nav__item {
  padding: 0rem;
}

.social__list {
  list-style: none;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
  max-width: 120px;
  margin: auto;
}

.social__wrapper {
  padding: 1rem;
  margin-top: 2rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 720px) {
  .footer__wrapper {
    margin-top: 7rem;
  }
}
@media screen and (min-width: 1080px) {
  .footer {
    display: flex;
    align-items: center;
  }
  .footer .logo__wrapper {
    flex: 0 1 30%;
    padding: 0;
  }
  .footer .nav__list {
    max-width: 100%;
    flex: 1 1 30%;
  }
  .footer .social {
    margin-right: 3rem;
  }
  .footer .social__wrapper {
    flex: 1 1 30%;
  }
}
.aside {
  margin: 0 1.5rem;
  overflow: hidden;
  background-color: #2C343E;
  color: #FEFCF7;
  border-radius: 10px;
}

.aside__container {
  background-color: #505A66;
}

.aside__title {
  font-size: 1.75rem;
  text-align: center;
  padding-top: 4rem;
}

.aside__summary {
  padding: 1rem;
  text-align: center;
  line-height: 25px;
}

.decoration {
  padding: 20rem;
}

@media screen and (min-width: 720px) {
  .aside__container {
    background-color: inherit;
    max-width: 540px;
    margin: auto;
  }

  .aside__title {
    font-size: 2rem;
    line-height: 48px;
    margin-bottom: 1rem;
  }

  .decoration {
    padding: 11rem;
  }

  .aside__summary {
    padding: 1rem 0;
  }
}
@media screen and (min-width: 720px) {
  .aside {
    margin: 0 5rem;
  }

  .aside__title {
    padding-top: 6rem;
  }

  .aside__summary {
    padding: 1.5rem 0;
  }
}
@media screen and (min-width: 1080px) {
  .decoration {
    padding: 9rem;
  }
}
body {
  background-color: #FEFCF7;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
}
