@use '../base';
.cards__list {
    background-color: base.$bg-dark-grey;
}
.cards {
	padding: 1rem 0;
}
.card {
	margin: auto;
	padding: 1rem 1.5rem;
    max-width: 573px;
    list-style: none;
}
.card__wrapper {
	background-color: base.$bg-green-btn;
	//margin: 1rem 1.5rem;
	border-radius: 8px;
	list-style: none;   
}
.card__img {
	margin: auto;
    padding: 4.5rem 0 3rem;
}
.card__title {
	text-align: center;
	font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.card__summary {
	text-align: center;
    font-size: 0.9375rem;
    line-height: 25px;
    padding-bottom: 3.5rem;
}
.card__details {
	padding: 0 2rem;
}