@use '../base';

.cards__list {
    // background-color: base.$bg-dark-grey;
    position: relative;
    top: -40rem;
}

.cards {
    padding: 1rem 0;
}

.card {
    margin: auto;
    padding: 1rem 2.5rem;
    max-width: 573px;
    list-style: none;
}

.card__wrapper {
    background-color: base.$bg-green-btn;
    //margin: 1rem 1.5rem;
    border-radius: 8px;
    list-style: none;
}

.card__img {
    margin: auto;
    padding: 4.5rem 0 3rem;
}

.card__title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: white;
}

.card__summary {
    text-align: center;
    font-size: 0.9375rem;
    line-height: 25px;
    padding-bottom: 3.5rem;
    color: white;
}

.card__details {
    padding: 0 2rem;
}

@include base.mQ(720px) {
    .card__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2.2rem 0;
    }

    .card {
        padding: 0.9rem 1rem 0.5rem;
    }

    .card__img__wrapper {
        flex: 1 1 25%;
    }

    .card__img {
        padding: 0;
    }

    .card__details {
        flex: 1 1 75%;
    }

    .card__summary,
    .card__title {
        text-align: left;
    }

    .card__summary {
        padding: 0;
    }

    .cards__list {
        top: -22rem;
    }
   
}

@include base.mQ(1080px){
    .card__wrapper {        
        flex-direction: column;
    }
    .cards {
        display: flex;
    }
    .card {       
        max-width: 350px;       
    }
    .card__summary, .card__title {
        text-align: center;
    }
}