@use '../base';

.commitment {
    margin: 4rem 1.5rem;
}

.commitment__img {
    border-radius: 8px;
}

.commitment__details {
    text-align: center;
    margin-top: 3rem;
}

.commitment__title {
    font-size: 2rem;
    line-height: 48px;
    color: base.$tx-black;
}

.commitment__summary {
    font-size: 0.9375rem;
    line-height: 25px;
    margin-top: 2rem;
}
@include base.mQ(520px) {
    .commitment__img {       
        width: 75%;
        margin: auto;
    }
}

@include base.mQ(720px) {

    .commitment {
        display: flex;
        margin: 4rem 2.5rem;
        justify-content: space-around;
        align-items: center;
    }

    .commitment__details {
        flex: 1 1 60%;
        margin-top: 0;
    }

    .commitment__img__container {
        flex: 1 1 40%;
    }   

    .commitment__summary {
        text-align: left;
        padding: 0 2.5rem;
        margin: 2rem auto;
    }
    .commitment__img {       
        width: 100%;       
    }
}

@include base.mQ(1080px) {
    .commitment {
        padding: 4rem 5rem;
        max-width: 1110px;
        margin: auto;
    }
}