@use '../base';

.commitment {
    margin: 4rem 1.5rem;
}

.commitment__img {
    border-radius: 8px;
}

.commitment__details {
    text-align: center;
    margin-top: 3rem;
}

.commitment__title {
    font-size: 2rem;
    line-height: 48px;
    color: base.$tx-black;
}

.commitment__summary {
    font-size: 0.9375rem;
    line-height: 25px;
    margin-top: 2rem;
}

.commitment__list__item {
    &:last-child {
        position: relative;
        margin-top: 12.4rem;
        background-color: base.$tx-black;
        background-image: url('../assets/about/mobile/bg-quality.png');
        background-blend-mode: color;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem 1.5rem 4rem;
        color: white;
        border-radius: 8px;

        .commitment__title {
            color: white;
            font-size: 1.75rem;
            line-height: 28px;
        }

        .commitment__img__container {
            position: relative;
            top: -7rem;
        }

        .commitment__details {
            margin-top: -3.5rem;
        }
    }
}

@include base.mQ(520px) {
    .commitment__img {
        width: 75%;
        margin: auto;
    }
}

@include base.mQ(720px) {

    .commitment {
        margin: 7.5rem 2.5rem 4rem;
    }

    .commitment__summary {
        text-align: left;
        padding: 0 2.3rem;
        margin: 2rem auto;
    }

    .commitment__list__item {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &:last-child {
            margin-top: 20.4rem;
            padding: 2rem 1.5rem 3rem;
            flex-direction: column;
            background-image: url('../assets/about/tablet/bg-quality.png');

            .commitment__summary {
                text-align: center;
                padding: 0 3.2rem;
            }

            .commitment__img__container {
                top: -12rem;
            }

            .commitment__details {
                margin-top: -8rem;
            }
        }
    }

    .commitment__details {
        flex: 1 1 60%;
        margin-top: 0;
    }

    .commitment__img__container {
        flex: 1 1 40%;
    }

    .commitment__img {
        width: 100%;
    }
}

@include base.mQ(1080px) {
    .commitment {
        padding: 4rem 5rem;
        max-width: 1280px;
        margin: auto;
    }

    .commitment__list__item {
        &:last-child {
            margin-top: 18rem;
            padding: 2rem 1.5rem 0rem;
            flex-direction: row-reverse;
            background-image: url('../assets/about/desktop/bg-quality.png');

            .commitment__details {
                margin-top: -9rem;
              flex: 1 1 46%;
            }

            .commitment__img__container {
               top: -7.5rem;
               flex: 1 1 29%;
            }

            .commitment__title {
                text-align: left;
                margin-left: 2.8rem;
            }

            .commitment__summary {
                text-align: left;               
            }
        }
    }
}