@use '../base';

.map {
    margin-top: 10rem;
    text-align: center;
}

.map__main__title {
    font-size: 1.5rem;
    line-height: 1.5;
    color: base.$tx-black;
}

.map__list {
    padding: 1.5rem;
    margin: auto;
    max-width: 327px;
}

.map__img {
    margin: auto;
}

.map__title {
    font-size: 1.5rem;
    line-height: 1.5;
    color: base.$tx-black;
    font-weight: 900;
}

.map__content {
    margin-top: 3rem;
}

address {
    font-family: base.$main-font;
}

.map__address {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

@include base.mQ(720px) {
    .map__img {        
        margin-left: 0;
    }
    .map__list__container {
        display: flex;
    }
    .map {       
        padding: 0 2.5rem;
        text-align: left;
        max-width: 1046px;
        margin: auto;
    }
    .map__list {
        padding: 1.5rem 0;
        margin-left: 0;        
    }
    
}