@use '../base';

.modal__subscribe {
	position: fixed;
	bottom: 0;
	 display: none; 	
	flex-direction: column;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	//width: clamp(100px, 80%, 500px);
	width: clamp(100px, 100%, 500px);
	background-color: #979797;
	//border-radius: 8px;
	min-height: 100vh;
}

.subscribe__show {
	display: flex;
}

.subscribe__title__wrapper {
	padding: 1.4rem 1rem;
	background-color: base.$bg-dark-grey;
}

.subscribe__title {
	font-size: 1.75rem;
	line-height: 1.6;
	color: white;
	
}

.subscribe__content {
	padding: 1rem 1.5rem;
	font-size: 1.5rem;
	font-weight: 900;
	line-height: 1.9;
}

.subscribe__summary {
	width: 90%;
	margin: 2.5rem auto;
	background-color: base.$bg-lt-cream;
	border-radius: 8px;
	overflow: hidden;
}

.subscribe__confirm {
	padding: 0 1.5rem;
	font-size: 0.9375rem;
	line-height: 1.9;
}

.checkout--btn {
	margin: 0 auto 4rem;
}