@use '../base';

.accordion--btn {
    position: relative;
    display: flex;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: base.$tx-lt-grey;
    text-align: left;
    align-items: baseline;

    &::after {
        //position: absolute;
        content: "";
        background-image: url('../assets/plan/desktop/icon-arrow.svg');
        width: 1.25rem;
        height: 1.25rem;
        background-repeat: no-repeat;
        flex-shrink: 0;
        transition: transform .2s ease-in-out;
    }


    &:not(.collapsed)::after {
        background-image: url('../assets/plan/desktop/icon-arrow.svg');
        transform: rotate(-180deg);
    }

}

.plan__card {
  //  padding: 1rem 1.5rem;
    margin: auto;
}

.plan__select {
	background-color: #F4F1EB;
	margin: 1rem;
	padding: 1rem 1.5rem;
	border-radius: 8px;
   // max-width: 22rem;

    &:hover , &:focus {
        background-color: base.$bg-green-btn;
        color: base.$tx-white;
    }
}

.collapse {
    display: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.plan__section {
    margin-top: 3rem;
}

.wrapper__preferences {
	font-size: 1.5rem;
    padding-top: .5rem;
}
.plan__card__content {
	padding: .5rem 0;
}

@include base.mQ(720px) {
    .plan__card {       
        display: flex;
    }
}