@use '../base';

.accordion--btn {
	position: relative;
	display: flex;
	width: 100%;
	padding: 1rem 1.25rem;
	font-size: 1rem;
    align-items: center;
    justify-content: space-between;

    &::after {
        //position: absolute;
        content: "";
        background-image: url('../assets/plan/desktop/icon-arrow.svg');
        width: 1.25rem;
        height: 1.25rem;
        background-repeat: no-repeat;
        flex-shrink: 0;
    }

    .accordion--btn:not(.collapsed)::after {
        background-image: url('../assets/plan/desktop/icon-arrow.svg');
        transform: rotate(-180deg);
    }
}