@use '../base';

.accordion--btn {
    position: relative;
    display: flex;
    width: 100%;
    // padding: 1rem 1.5rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: base.$tx-lt-grey;
    text-align: left;
    align-items: baseline;

    &::after {
        //position: absolute;
        content: "";
        background-image: url('../assets/plan/desktop/icon-arrow.svg');
        width: 1.25rem;
        height: 1.25rem;
        background-repeat: no-repeat;
        flex-shrink: 0;
        transition: transform .2s ease-in-out;
    }


    &:not(.collapsed)::after {
        background-image: url('../assets/plan/desktop/icon-arrow.svg');
        transform: rotate(-180deg);
    }

}

.accordion__wrapper {
    padding: 0 1.5rem;
    position: relative;
}

.accordion__list__item {
    margin-bottom: 3.125rem;
}

.accordion__item {
    padding: 1rem 0;
}

.plan__card {
    margin: auto;
    animation-name: fadeInDown;
    animation-duration: 1s;
}

.plan__select {
    position: relative;
    margin: 1.2rem auto;

    //overflow: hidden;
    // max-width: 22rem;
    input[type="radio"] {
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
    }

    input[type="radio"]:checked+label {
        background-color: base.$bg-green-btn;
        color: base.$tx-white;
    }

    input[type="radio"]:focus+label {
        border: 2px dashed #444;
    }

}

.collapse01,
.collapse02,
.collapse03,
.collapse04,
.collapse05 {
    display: none;
    //visibility: hidden;
}

.collapse__show {
    animation-name: fadeInUp;
    animation-duration: 3s;
}


.radio__label {
    background-color: #F4F1EB;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    min-height: 100%; // to have same height on the list cards

    &:hover, &:focus {
        background-color: #FDD6BA;
        color: base.$tx-black;
    }
}

.plan__section {
    margin-top: 3rem;
}

.plan__card__title {
    font-size: 1.5rem;
    padding-top: .5rem;
    line-height: 1.5;
    font-weight: 900;
    font-family: base.$heading-font;
}

.plan__card__content {
    padding: .5rem 0;
    font-size: 1rem;
}

.plan__nav {
    display: none;
}

.radio__small__text.espresso {
    line-height: 1.5;
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}




@include base.mQ(720px) {
    .accordion__wrapper {
        padding: 0 2.5rem;
    }

    .accordion--btn {
        font-size: 2rem;
    }

    .plan__card {
        margin-top: 2rem;
        gap: 1rem;
        display: flex;
    }

    .plan__section {
        margin-top: 7.5rem;
    }

    .plan__card__content {
        margin-top: 1rem;
    }

    .collapse01,
    .collapse02,
    .collapse03,
    .collapse04,
    .collapse05 {
        display: none;
    }

    .radio__label {
        padding: 1rem 1.5rem 5.5rem;
    }

}

@include base.mQ(1080px) {
    .plan__summary {
        padding: 0 10.3125rem;
    }

    .plan__section {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .plan__nav {
        display: block;
        flex: 1 1 25%;
    }

    .accordion__wrapper {
        flex: 1 1 75%;
    }

    .plan__nav__list {
        position: relative;
        margin-top: 2.5rem;
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        /* align-items: baseline; */
        justify-content: space-between;
        min-height: 22.25rem;

        a {
            text-decoration: none;

            &:hover>.nav__item__num,
            &:focus>.nav__item__num {
                color: base.$bg-green-btn;
            }

            &:hover>.nav__item__text,
            &:focus>.nav__item__text {
                color: base.$bg-dark-grey;
            }
        }
    }

    .plan__nav__item {
        position: relative;
        font-size: 1.5rem;
        font-weight: 900;
        color: base.$bg-dark-grey;

        &::before {
            position: absolute;
            content: "";
            width: 12rem;
            height: 0.1rem;
            background-color: base.$bg-lt-grey;
            bottom: -2rem;
            left: 0;
        }
    }

    .nav__item__num {
        color: base.$tx-lt-grey;
    }

    .nav__item__text {
        color: base.$tx-lt-grey;
    }
}