@use '../base';

.works__wrapper {
	margin-top: 5rem;
}

.works {
	margin-top: -35rem;
}

.work__list {
	padding: 0 0.2rem;
}

.work__summary {
	font-size: 0.9375rem;
}

.works__title {
	text-align: center;
	color: base.$tx-lt-grey;
	font-size: 1.5rem;
	line-height: 32px;
	font-weight: 800;
}

.work__item {
	list-style: none;
	padding: 0 1rem;
	text-align: center;
	margin-bottom: 3.5rem;
}

.work__item__title {
	color: base.$bg-dark-grey;
	font-size: 1.75rem;
	line-height: 32px;
	margin-bottom: 1.5rem;
}

.work__num {
	font-size: 4.5rem;
	font-weight: 900;
	display: block;
	margin: auto;
	text-align: center;
	line-height: 72px;
	color: #FDD6BA;
	font-family: base.$heading-font;
	margin-bottom: 2rem;
}
.works__wrapper--btn {	
	display: flex;
	justify-content: center;
	align-items: center;
}

@include base.mQ(720px) {
	.works {
		margin-top: -16rem;
	}

	.work__list {
		display: flex;
	}

	.works__wrapper {
		padding: 0 2.5rem;
		margin-top: 6rem;
	}

	.work__item {
		padding: 1rem;
		flex: 1 1 0;
	}

	.work__num,
	.work__item__title,
	.work__summary {
		text-align: left;
	}

	.work__num {
		position: relative;

		&::before {
			position: absolute;
			width: 31px;
			height: 31px;
			content: "";
			border: 2px solid base.$bg-green-btn;
			top: -4rem;
			border-radius: 50%;
			left: 0;
		}

	}

	.span21,
	.span22 {
		&::after {
			position: absolute;
			width: 100%;
			height: 2px;
			content: "";
			background-color: #FDD6BA;
			top: -3rem;
			left: 27px;
		}
	}

	.works__title {
		padding: 0 3rem;
		text-align: left;
	}

}

@include base.mQ(1080px) {
	.works {
		margin-top: -4rem;
		//padding: 0 10.3125rem;
	}
	.work__list {
		gap: 1.5rem;
	}

	.works__title {
		padding: 0 10rem;
	}

	.works__wrapper {
		padding: 0;
		max-width: 1045px;
		margin: 6rem auto 0;
	}

	.work__item {
		padding: 1rem 0;
	}

	.span21,
	.span22 {
		&::after {
			width: 100%;
		}
	}
}