@use '../base';

.aside {
	margin: 0 1.5rem;
	overflow: hidden;
	background-color: base.$bg-dark-grey;
	color: #FEFCF7;
	border-radius: 10px;
}

.aside__container {
	background-color: #505A66;
}

.aside__title {
	font-size: 1.75rem;
	text-align: center;
	padding-top: 4rem;
}

.aside__summary {
	padding: 1rem;
	text-align: center;
	line-height: 1.5;
}

.decoration {
	padding: 20rem;
}

@include base.mQ(720px) {
	.aside__container {
		background-color: inherit;
		max-width: 540px;
		margin: auto;
	}

	.aside__title {
		font-size: 2rem;
		line-height: 1.5;
		margin-bottom: 1rem;
	}

	.decoration {
		padding: 11rem;
	}

	.aside__summary {
		padding: 1rem 0;
	}
}

@include base.mQ(720px) {
	.aside {
		margin: 0 5rem;
	}

	.aside__title {
		padding-top: 6rem;
	}

	.aside__summary {
		padding: 1.5rem 0;
	}
}

@include base.mQ(1080px) {
	.decoration {
		padding: 9rem;
	}
}