@use '../base';
.hero {   
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 0 1.5rem;
    border-radius: 10px;
}
.hero__home {
    background-image: url('../assets/home/mobile/image-hero-coffeepress.jpg');
}
.hero__about {
    background-image: url('../assets/about/mobile/image-hero-whitecup.jpg');
}
.hero__subscribe {
    background-image: url('../assets/plan/mobile/image-hero-blackcup.jpg');
}

.hero__content {
    padding: 6rem 1.5rem;
    text-align: center;
}

.hero__title {
    font-size: 2.5rem;
    text-align: center;
    line-height: 40px;
}

.hero__summary {
    font-size: .9375rem;
    text-align: center;
    line-height: 25px;
    margin: 1.5rem auto 3rem;
}

.hero--btn {
	background-color: base.$bg-green-btn;
	display: inline-block;	
	font-size: 1.125rem;
	font-weight: 900;
	color: white;
	line-height: 25px;
	padding: 1rem 2.6rem;
    border-radius: 6px;
}

@include base.mQ(720px) {
    .hero {       
        margin: 0px 2.5rem;       
    }
    .hero__content {
        width: 25rem;
        text-align: left;
    }
    .hero__title {
        font-size: 3rem;
        text-align: left;
        line-height: 48px;
    }
    .hero__summary {       
        text-align: left;       
    }
    .hero__home {
        background-image: url('../assets/home/tablet/image-hero-coffeepress.jpg');
    }
    .hero__about {
        background-image: url('../assets/about/tablet/image-hero-whitecup.jpg');
    }
    .hero__subscribe {
        background-image: url('../assets/plan/tablet/image-hero-blackcup.jpg');
    }
}

@include base.mQ(1080px) {
    .hero__home {
        background-image: url('../assets/home/desktop/image-hero-coffeepress.jpg');
    }
    .hero__about {
        background-image: url('../assets/about/desktop/image-hero-whitecup.jpg');
    }
    .hero__subscribe {
        background-image: url('../assets/plan/desktop/image-hero-blackcup.jpg');
    }
}